Language: Cpp
BasedOnStyle: Google
ColumnLimit: 180
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
UseTab: Never
BinPackArguments: true
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AlignAfterOpenBracket: Align
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false
AccessModifierOffset: -4
